
<!--This is the html code that i am going to use as my base code that my other html templates will inherit from-->

<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Intro To Programming Stage 4 Project By Fernando Alarcon </title>
    <link href="css/style.css" rel="stylesheet" type="text/css" >

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
<body>

  <h1>Intro To Programming Notes By Fernando Alarcon</h1>
</body>
{% block content %}
{% endblock %}
<!--This is the html code That connects these links to the required Lesson page -->

  <div class = "footer"><ol class ="menu">

    <li class = "menu-button"><a href ="/">Return to Menu</a></li>
    <li class = "menu-button"><a href ="/project4html1">Lesson 1</a></li>
    <li class = "menu-button"><a href ="/project4html2">Lesson 2</a></li>
    <li class = "menu-button"><a href ="/project4html3">Lesson 3</a></li>
    <li class = "menu-button"><a href ="/project4html4">Lesson 4</a></li>
    </ol>
    </div>



</html>
