

{% extends "base.html" %}
{% block content %}



	<div class="lesson">
    <h1>Lesson 3</h1>


      <div class="concept">
        <h2>Lesson:3.1</h2>
        <div class="concept-title">What will we create?</div>

        <div class="concept-description">
          <p>The instructor had an intro where he went over what we are going to be doying . We will write a program that tells it's user to take a break. The next program is a profanity editor. The next and final program will be a site where all my favorite
            movies are listed.
          </p>


        </div>

      </div>

      <div class="concept">

        <div class="concept-title">What i should know</div>

        <div class="concept-description">
          <p>In this portion of the lesson i went over some loop and if statement assignments to make sure i am able to complete the project's that we will be working on.
          </p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Python Download</div>

        <div class="concept-description">
          <p>In this portion of the lesson i was shown a step by step guide on how to download python 2.7 for windows. I used the mentioned methods and was on my way to writing python code in no time.</p>

        </div>

      </div>

    </div>

    <div class="lesson">

      <h2>Lesson:3.2</h2>


      <div class="concept">

        <div class="concept-title">Take a break</div>

        <div class="concept-description">
          <p>In this portion of the lesson i was introduced to a mini project that will help someone busy plan a break troughout the day.For this i was shown a story about the break planner as well as what the expected output is supposed to be.I was asked
            how i would do this and was give a quiz on how i would plan this. At the end of it all i was shown one way that I could achieve this.</p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Launching python</div>

        <div class="concept-description">
          <p>In this portion of the lesson i was shown a video which showed how to start Puthon(assuming of course that I had downloaded it).It was very valuable information which made starting python a breeze.</p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Webbrowser</div>

        <div class="concept-description">
          <p>in this portion of the lesson i was introduced to webbrowser.For this the instructor showed where webbrowser comes from as well as what it is used for in python. Along with all this the instructor gaave a good website where one could find documentation
            regarding webbrowser if one was insterested in learning more about the webbrowser file which is part of the standard python library.I learned what makes browser have the ability to open url's in python because it had the open function inside
            of it.
          </p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Secret message</div>

        <div class="concept-description">
          <p>In this portion of the lesson i was introduced to the second mini project that was made for this lesson segment.The Instructor provided information on the required output that was exoedcted for this program as well as a guide to how to plan
            the program.the instructor also went over how to open a file(specifically the rename file given in the instructor notes.He also went over how to change file names and how to rename the files.
          </p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">OS</div>

        <div class="concept-description">
          <p>In this portion of the lesson i was shown how to call the module OS in python.The instructor went over where the OS module comes from(Python standard library) and went over how to properly utilize it.</p>

        </div>

      </div>


    </div>


    <div class="lesson">

      <h2>Lesson:3.3a</h2>

      <div class="concept">

        <div class="concept-title">Turtle</div>

        <div class="concept-description">
          <p>In this portion of the lesson i was introduced to the Turtle class. The instructer then went on to show me how to use the turtle function by drawing a square that goes around 360 degrees to create a circle inside abunch of squares. I was also
            shown how i could customize the turtles shape color and speed. </p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Where does Turtle come from?</div>

        <div class="concept-description">
          <p>The instructor went over where the function turtle comes from. Turtle is a class that is included in the python standard library.
          </p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">What is a class?</div>

        <div class="concept-description">
          <p>In this portion of the lesson i was introduced to classes.A class is like blueprint of a building but for writing code.classes are made up of objects and instances.</p>

        </div>

      </div>

    </div>


    <div class="lesson">
      <h2>Lesson:3.3b</h2>

      <div class="concept">

        <div class="concept-title">Twilio</div>

        <div class="concept-description">
          <p>Twilio is an example of an external python lybrary. In this portion of the lesson i was shown how to download and install the twilio package to send text messages via code to my phone.</p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Registering to twilio</div>

        <div class="concept-description">
          <p>In this portion of the lesson i was shown how to register with twilio, i was given a auth_token and acct_sid and was shown how to make it all happen with the code twilio provided.
          </p>

        </div>

      </div>


    </div>


    <div class="lesson">
      <h2>Lesson:3.3c</h2>

      <div class="concept">

        <div class="concept-title">Profanity Editor</div>

        <div class="concept-description">
          <p>For this portion of the lesson i was guided on how to complete a small project called profanity editor which basically checked the text file that i downloaded from the instructor notes to see if there where any curse words that someone might
            find offensive.
          </p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Open Function</div>

        <div class="concept-description">
          <p>In this portion of the lesson i was introduce to the open function which is a built in function for python. This function opens a file, returning an object of the file.
          </p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Built in functions Python</div>

        <div class="concept-description">
          <p>For this portion of the lesson i had a further introduction to built in functions. I was encouraged to ty out a random function and share my code with my classmates on the forum for one of the assignments.</p>

        </div>

      </div>

    </div>


    <div class="lesson">

      <h2>Lesson:3.4a</h2>

      <div class="concept">

        <div class="concept-title">Movie Website</div>

        <div class="concept-description">
          <p>For this portion of the lesson i was shown what the Lesson 3 project will look like as well as a guide to how to complete it. I was shown how to use classes to help with this as well as how to unite two different python files the media file
            and the entertainment_center python files to achive the movie website.</p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">init function</div>

        <div class="concept-description">
          <p>In this portion of the lesson i was introduced to the unique init function.It initializes or creates space in memory to remember details you want to use in your code(ex title,storyline,...).It always has several arguments one of which is always
            a term called self. Self is the object that is beign created.</p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">self</div>

        <div class="concept-description">
          <p>In this portion of the lesson i was shown the way in which i could use the self argument to add all the components that i need for the movie trailer website that i am going to working on such as the titles, storylines, movie posters, and movie
            trailers.
          </p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Behind the scenes</div>

        <div class="concept-description">
          <p>In this portion of the lesson the instructor showed what the python code i had written was doying behind the scenes. He did a good job in explaining what the init function and self argument had in making my website come to life.</p>

        </div>

      </div>

    </div>


    <div class="lesson">

      <h2>Lesson:3.4b</h2>

      <div class="concept">

        <div class="concept-title">Class variables</div>

        <div class="concept-description">
          <p>In this portion of the lesson i learned about class variables.Generally speaking, instance variables are for data unique to each instance and class variables are for attributes and methods shared by all instances of the class object.</p>

        </div>

      </div>

      <div class="concept">

        <div class="concept-title">Inheretence</div>

        <div class="concept-description">
          <p>In this portion of the lesso i was introduced to the concept of inheretence in Classes. I learned that classes can inherit specific attributes from other objects .The Child object receives attributes from its Parent object by putting the parent
            object as one of the child object's .</p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Method overriding</div>

        <div class="concept-description">
          <p>In this portion of the lesson i was introduced to method overriding. Method overriding is the ability of a class to change the is implementation of a method provided by one of the object's parent.</p>

        </div>

      </div>



</div>

{% endblock %}
