{% extends "base.html" %}
{% block content %}




    <div class="lesson">
      <h1> Lesson 1</h1>
      <h2>Lesson:1.1</h2>

      <div class="concept">
        <div class="concept-title">How The Web Works</div>
        <div class="concept-description">
          <p> The web is a bunch of computers that talk to each other through a web like connection of servers and computers.</p>

        </div>
      </div>

      <div class="concept">
        <div class="concept-title">Tags And Elements</div>
        <div class="concept-description">
          <p>In this lesson of the segment i leaned about how HTML are made up of tags. There are many different tags and they all have different purposes.</p>
        </div>
      </div>

      <div class="concept">
        <div class="concept-title">HTML</div>
        <div class="concept-description">
          <p>in this lesson i learned allot about Hyper Markup language and how its makes up what people see in webpages.</p>
        </div>
      </div>

      <div class="concept">
        <div class="concept-title">Computers Are Stupid</div>
        <div class="concept-description">
          <p>In this lesson i learned that Computers can be considered stupid because they take information literally so if theres any sort of minor mistake is your syntax then your code will go haywire.</p>

        </div>
      </div>
      <div class="concept">
        <div class="concept-title"> Inline And Block</div>
        <div class="concept-description">
          <p>In this portion of the lesson i learned how HTML is either inline or block. and how block elements form an invisible box around its desired content</p>
        </div>

      </div>
    </div>


    <div class="lesson">
      <h2>Lesson 1.2</h2>
      <div class="concept">
        <div class="concept-title">Developer Tools</div>
        <div class="concept-description">
          <p>In this lesson i learned about developer tools and how to acces them through my webpage
          </p>
        </div>
      </div>

      <div class="concept">

        <div class="concept-title">DOM(Document Object Mode)</div>
        <div class="concept-description">
          <p>In this part of the lesson i learned about how DOM is the tree like structure of HTML</p>
        </div>
      </div>
      <div class="concept">
        <div class="concept-title">The Realationship Of HTML And Boxes</div>
        <div class="concept-description">
          <p> In this part of the lesson i learned about the relationship between HTML and boxes. and how it makes it much easier for programmers to vizualize codes beign in certain boxes</p>
        </div>
      </div>

      <div class="concept">
        <div class="concept-title">Programming Text Editors</div>
        <div class="concept-description">
          <p> in this part of the lesson i was introduce to text editors that are used by professionals to create code.</p>
        </div>
      </div>
    </div>


    <div class="lesson">
      <h2>Lesson:1.3</h2>
      <div class="concept">
        <div class="concept-title">CSS</div>
        <div class="concept-description">
          <p>In this portion of the lesson i learned about CSS(Cascading Style Sheets) and what its function in web development, as well as some of the neat tricks you can make webpages do with CSS.</p>
        </div>
      </div>

      <div class="concept">
        <div class="concept-title">More On Dev Tools</div>
        <div class="concept-description">
          <p>During this portion of the lesson i was shown more whays to use dev tools as well as different ways to get to the console, for example i didn't know that if i right click and pick "inspect element" that it takes me to the console</p>
        </div>
      </div>

      <div class="concept">
        <div class="concept-title">Experimenting With Style</div>
        <div class="concept-description">
          <p> In this portion of the lesson i leared about how to experiment with style using CSS. I was introduced to many different ways to make my webpage look awesome.</p>
        </div>
      </div>
      <div class="concept">
        <div class="concept-title">Code Repetition</div>
        <div class="concept-description">
          <p>In this portion of the lesson where I learned about how important its is as a programmer to avoid making repetitions with my code. This will benefit me in that i have to write less code, I'll be less prone to making errors in my syntax.Overall
            it will make me look like i know what I am doying.
            <p>

        </div>
      </div>

      <div class="concept">
        <div class="concept-title">Code Structure</div>
        <div class="concept-description">
          <p>During this portion of the lesson i was introduced tp code structure and its importance in programming. I learned that it's important to have things structured so its easy for a programmer to read. I also learned about how there are structured
            programming rules to help keep my code looking professional.</p>

        </div>
      </div>
   </div>



{% endblock %}
