{% extends "base.html" %}
{% block content %}


	<div class="lesson">

      <h1>Lesson:4</h1>

      <div class="concept">
        <h2>Lesson 4.1</h2>
        <div class="concept-title">Network</div>

        <div class="concept-description">
          <p>In this lesson i was introduced to networks . Are a group of entities(ex...people,computers) that can communicate even though they are not directly connected.I was shown visual representation of what networks are with the module revolving around
            smoke signals.
          </p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Latency</div>

        <div class="concept-description">
          <p>Latency is a method to measure Networks. It is the time that it takes for a message to get from the source to it's destination.The unit of time used to measure Latency is seconds.
          </p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Bandwith</div>

        <div class="concept-description">
          <p>Is the amount of information that can be transmitted per unit of time. It can be measure in bits per second.
          </p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Bit</div>

        <div class="concept-description">
          <p>A bit is the smallest unit of information. They can be represented by zeros and ones.With more bits you can encode more different things.</p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Protocols</div>

        <div class="concept-description">
          <p>In this portion of the lesson i was introduced to protocols.Protocols are rules that are agreed upon by the user and the server. Think of it as a treaty between man and machine.</p>

        </div>

      </div>

    </div>


    <div class="lesson">

      <h2>Lesson:4.2</h2>

      <div class="concept">

        <div class="concept-title">URL</div>

        <div class="concept-description">
          <p>URL stands for Uniform Resource Locator. They are made up of a protocol a host and a path. Here's an example http://www.udacity.com/</p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Fragment</div>

        <div class="concept-description">
          <p>Are part of a url that is seperated from the rest of the url by a hash tag. it is generally used to reference a part of the page that you are looking at.It is not sent to the server when you make a request it is just there for the browser.
          </p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">HTTP</div>

        <div class="concept-description">
          <p>Hyper text transfer protocol is the main protocol of the web and is the protocol that web browsers run.Its made up of a method a path a versionand a request line.</p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">HTTP request</div>

        <div class="concept-description">
          <p>Are made up of a host(example: www.example.com) a user-agent(describes who is making the request).I was made to promise that i will use User-Agents appropriately because of the damage one can do if they maliciously use User-Agents.
          </p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Servers</div>

        <div class="concept-description">
          <p>the purpose of a sever is to respond to http requests.There are two types of responses that a server will do.Static and dynamic. Static request are a pre written file , an image file is a good example.Dynamic requests on the other hand are built
            dynamically on the fly with the help of web applications.
          </p>

        </div>

      </div>

    </div>


    <div class="lesson">

      <h2>Lesson:4.3</h2>

      <div class="concept">

        <div class="concept-title">Forms</div>

        <div class="concept-description">
          <p>Are made up opening and closing form tags.Forms allow users to enter text,select from dropdown menus, check checkboxes, other .....
          </p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Submitting imput</div>

        <div class="concept-description">
          <p>In this portion of the I was shown the code that was necessary to create a buttom that allowed user to submit input. Then i was given a quiz to test if i had followed allong in the browser.
          </p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Checkboxes</div>

        <div class="concept-description">
          <p>In this portion of the lesson i was shown how to make checkboxes as well as multiple checkboxes and was quizzed to make sure i was following allong to the material.</p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Radio Buttons</div>

        <div class="concept-description">
          <p>In this portion of the lesson i was introduced how to replace checkboxes with radio buttons and how to group different radio buttons. On top of this i was shown how to manage radio button values.
          </p>

        </div>

      </div>

    </div>


    <div class="lesson">

      <h2>Lesson:4.4</h2>

      <div class="concept">

        <div class="concept-title">Modulus operator %</div>

        <div class="concept-description">
          <p>takes a number and maps it to the range based on the remainder when you divide that number. like having a clock with twleve hours.
          </p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Dictionaries:</div>

        <div class="concept-description">
          <p>In this portion of the lessom i learned a little about dictionaries.Like lists dictionaries can easily be changed, can be shrunk and grown ad libitum at run time. They shrink and grow without the necessity of making copies. Dictionaries can
            be contained in lists and vice versa. But what's the difference between lists and dictionaries? Lists are ordered sets of objects, whereas dictionaries are unordered sets.</p>

        </div>

      </div>

    </div>


    <div class="lesson">

      <h2>Lesson:4.5</h2>

      <div class="concept">

        <div class="concept-title">Google App Engine</div>

        <div class="concept-description">
          <p>This lesson had allot of coverge on the google app engine that started with a "hello world" tutorial showing me the user how to create a basic project that send my project to the localhost webpage. The lesson also went over other things including
            how to select a project that i have already created and be able to use it on the browser by using the Google App Launcher clicking the run button and then selecting browse.</p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Get</div>

        <div class="concept-description">
          <p>Get is a HTTP request that is used for fetching data from a specified  resource and has it's parameters in the URL and have a maximum URL lenght because you can only encode so many parameters, They are ok to cache and should not change the server.They are in short simple
            request for fetching a document.</p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Post</div>

        <div class="concept-description">
          <p>Post is a HTTP request  that submits data to be processed in a specific resourse and is used for updating data and it's parameters reside in the body. The maximum lenght of a post is unlimited. Though a server can have a maximum Limit given to them by a program. They are not ok to cache and it is ok to
            change the server.They are simply put get command should be used to describe what document or page you are looking for.</p>

        </div>

      </div>

    </div>


    <div class="lesson">

      <h2>Lesson:4.6</h2>

      <div class="concept">

        <div class="concept-title">Validation</div>

        <div class="concept-description">
          <p>In this portion of lesson 4 i learned about the importance of validation.Validating the user input to make sure it is valid and then prompting the user of the validation status, this eliminates the ambiguity about the rules of interacting with your website thus making it easier for users to interact with your website.. This is in case that if there are bad guys trying to get in it means that the server will handle the information properly. for example in someone imputs malicious data inside of your code.</p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Checking Validation</div>

        <div class="concept-description">
          <p>Checking for validation works when the user sends a get request to the servers who then in turn sends form data back to the user who then sends a post form back to the server to validate the data to see if the data is what it was expecting.The
            server then finally say thanks or it will return form data as well as an error message.Heres one good outline to follow when checking for validation. First Verify the user's input.Second on error ,render form again and Finally Include sn error
            Message.
          </p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">String Substitution</div>

        <div class="concept-description">
          <p>I learned how string substitution could be used when using the command %s to substitute strings as well as how to substitute multiple strings. The lesson had a couple of quiz modules that one has to do in order to move along the lesson.
          </p>

        </div>

      </div>

    </div>


    <div class="lesson">

      <h2>Lesson:4.7</h2>

      <div class="concept">

        <div class="concept-title">Templates</div>

        <div class="concept-description">
          <p>
          Templates are very important when it comes to not repeating one's self when writing code by allowing html pages to inherit certain desired traits by calling the template that you want to inherit from at the beginning of each html file one is trying to have inherited.This will make it easier for a programmer to use his/her time wisely when coding and debugging. Templates  are allot like a library is a library that is used to make complicated html strings.In this lesson i was introduced to jinja2 which is one of various template libraries. I was then shown a site to learn more about jinja2.The lesson also went over how they are used to seperate different types of code. How they make code more readable and html code easier to modify, as well as how it is used to make more secure websites.
        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Variable Substitution</div>

        <div class="concept-description">
          <p>In this portion of the lesson i was introduced to string substitutions and was shown how {{ variable}} means the same thing as using the print statement.I was then shown by the instructor trough a walktrough how to implement this in my code.
          </p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Statement Syntax</div>

        <div class="concept-description">
          <p>In this portion of the lesson i was shown how to implement statement syntax.The instructor showed me how i can add into my code heres the example i was shown that syntax outputs endoutput when you use the example of statement in action
            when the intructor showed me how to implement it in if/else statement.</p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">For loop Syntax</div>

        <div class="concept-description">
          <p>In this portion i was shown how to implement for loops in the jinja2 syntax utilizing a code that is very similar to the statement that i was shown for if/else statements. The instructor then wen on to show how he implemennts the for syntex
            to generate a number list.</p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Fizzbuzz</div>

        <div class="concept-description">
          <p>In this portion of the lesson i was introduced to fizzbuzz.I learned that fizzbuzz is a quiz that is used to check and see if a person knows how to do basic programming and after this was then prompted to take a quiz utilizing an if/else statement
            so the program used to write the code .
          </p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Template Inheritance</div>

        <div class="concept-description">
          <p>Template inheretance is when someone uses the code of one template and passes on certain traits to other templates. The instructor showed me an example of how to utilize templates by giving the fizzbuzz and shopping list programs a shared template.</p>

        </div>

      </div>

    </div>


    <div class="lesson">

      <h1>Lesson:4.8</h1>

      <div class="concept">

        <div class="concept-title">Databases</div>

        <div class="concept-description">
          <p>In this portion of the lesson i learned about databases and what they are used for. Databases are machines and programs that work to store/receive large amounts of data. They can be many machines working together to store/receive massive amounts
            of data.</p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Tables</div>

        <div class="concept-description">
          <p>In this portion off the lesson i was introduced to tables. Tables are made up of collumns and rows which are used to store data in a way one can categorize data depending on different variables. I was shown that they can be refferenced with
            other tables to store data</p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Types of databases</div>

        <div class="concept-description">
          <p>I learned in this lesson that there are many different types of databases but the ones that where talked about where relational databases(SQL) and was given a couple of examples. I was also shown that Google App Engines datastore is in its own
            class as well ass Amazon dynamo and finally noSQL.</p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">SQL</div>

        <div class="concept-description">
          <p>In this portion of the lesson i was shown what SQL is used for. I learned that SQL is a programming language that is used to manage all the data that is stored in databases by beign the median in which code is written to categorize data based
            on certain variables.</p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Joins</div>

        <div class="concept-description">
          <p>In this postion i was introduced to what Joins is.This is a type of SQL query that involves using multiple tables.
          </p>

        </div>

      </div>


      <div class="concept">

        <div class="concept-title">Indexes</div>

        <div class="concept-description">
          <p>I was introduced to indexes and how they are used in databases to look up data. I was shown that indexes are used in the same way as they are used in a book which makes looking up information easy.</p>

        </div>

      </div>
		</div>

{% endblock %}
