{% extends "base.html" %}

{% block content %}


	<div class="lesson">
    <h1>Lesson 2</h1>
      <h2 >Lesson 2.1</h2>
      <div class="concept">
        <div class="concept-title">What Is Programming?</div>
        <div class="concept-description">
          <p>A computer program is a guide that tells computers how to do neat stuff. Like play games and surf the net.</p>
        </div>
      </div>

      <div class="concept">
        <div class="concept-title">Programming Languages</div>
        <div class="concept-description">
          <p>In this lesson I learned about computer languages and how they are used. I learned that humans need to communicate with computers in languages created specifically for that task. I also got an introduction to the Python Language
            <p>
        </div>

      </div>

      <div class="concept">
        <div class="concept-title">Python</div>
        <div class="concept-description">
          <P>During this part of the Lesson I got an introduction to the programming language python and saw some ways that i can use it. For example there was that module where you have to create a code that calculates how many minutes there is in a week.</p>
        </div>

      </div>

      <div class="concept">
        <div class="concept-title">Programming Grammar</div>
        <div class="concept-description">
          <p>In this portion of the Lesson i Learned about how important it is to implement proper grammar when writing code. I learned that the smallest mistakes can make a computer go haywire if not written in the specific syntax that Programming Language
            utilizes.
          </p>
        </div>
      </div>


    </div>

    <div class="lesson">
      <h2>Lesson 2.2</h2>
      <div class="concept">
        <div class="concept-title">
          Variable</div>
        <div class="concept-description">
          <p>In this portion of the program and lesson i learned about how variables work in the python language. i learned how they are created as well as how they are used. variables make coding fun</p>
        </div>
      </div>

      <div class="concept">
        <div class="concept-title">Strings</div>
        <div class="concept-description">
          <p> In this portion of the lesson i learned about strings. i learned what their use is in python.I also learned how to call a string with quotation marks around said string so that the computer wont have a syntax error.</p>
        </div>
      </div>

      <div class="concept">
        <div class="concept-title">
          Agusta Ada King</div>
        <div class="concept-description">
          <p>In this portion of the lesson i learned about Agusta Ada King and her significance in programming. She was considered the world's first programmer. She was thinking about making a programming language to run a hypothetical mechanical computer
            way back in the 1840's</p>
        </div>
      </div>

      <div class="concept">
        <div class="concept-title">
          Indexing Strings</div>
        <div class="concept-description">
          <p>In this portion of the lesson i learned a little bit about indexing strings. I got a chance to play around with indexing strings in one of the quizzes and i learned about the inportance of [] when indexing strings.</p>
        </div>
      </div>

      <div class="concept">
        <div class="concept-title">Abstract Thinking</div>
        <div class="concept-description">
          <p>In this portion of the lesson I went over allot of exercises that made me utilize and further understand what abstract thinking is all about. I had to do this during the variable and string quizzez that i did in the lesson.</p>
        </div>
      </div>
    </div>

    <div class="lesson">
      <h2>Lesson 2.3</h2>
      <div class="concept">
        <div class="concept-title">
          Functions</div>
        <div class="concept-description">
          <p>In this lesson i learned about a little about what functions are and what they do. I learned about some of the neat tricks that functions can do to make. I also learned about their importance in programing in python.</p>
        </div>

      </div>

      <div class="concept">
        <div class="concept-title">Using Functions</div>

        <div class="concept-description">
          <p>During this portion of the lesson i learned a little about how to use functions. I learned that functions use imputs information and produces a output. I was able to exercise some of this knowledge in the quizzes that were given during this
            lesson
          </p>
        </div>

      </div>

      <div class="concept">
        <div class="concept-title">Avoding Repetition With Funcions</div>
        <div class="concept-description">
          <p>During this portion of the lesson i lerned about how functions can help me as a progammer by avoiding repetition. functions do this simply because once you write a function you dont have to write it again in your program thus getting rid of
            long lines of code.</p>
        </div>

      </div>

      <div class="concept">
        <div class="concept-title">Making And Using Functions</div>
        <div class="concept-description">

          </p>In this portion of the lesson I learned about making and using a function. I learned what is the correct method of making a function in python as well as the method to using them is.</p>

        </div>

      </div>

    </div>

    <div class="lesson">
      <h2>Lesson 2.4</h2>
      <div class="concept">
        <div class="concept-title">
          If Statements</div>
        <div class="concept-description">
          <p>During this portion of the lesson i was introduced to if statements. i learned that they work like situations. what i mean by that is depending on a certain situation an if satement might make one function(if). But if the statement doesnt specify
            the requirements for said situation then it will output a completely different function(else).</p>

        </div>

      </div>

      <div class="concept">
        <div class="concept-title">Or</div>
        <div class="concept-description">
          <p>During This portion of the lesson i learned how to use or in Python. I was introduced how or works . i learned that you use or when your printing out a function. I still need help with this concept so thats pretty much my understanding of or
            as we speak.</P>

        </div>

      </div>

      <div class="concept">
        <div class="concept-title">While Loops</div>
        <div class="concept-description">
          <p>During this portion of the lesson i was introduced to while loops. i was showns how is helps make code repetition easier. By that i mean that it takes code and it repeats it as many times as you like.For example there was an exercise in the
            lesson that made me have to write a code that counts from 1 to 3.</p>
        </div>
      </div>

      <dic class="concept">
        <div class="concept-title">Procedural Thinking</div>
        <div class="concept-description">
          <p>During this portion of the lesson i got a little reminder of using procedural thinking. This is very important for me as a programming student because it helps me to think more like a programmer but it also helps me connect deeper with the concepts
            that i went over in this portion of the lesson.</p>

        </div>

    </div>

    </div>

    <div class="lesson">
      <h2>Lesson 2.5</h2>
      <div class="concept">
        <div class="concept-title">Debugging</div>
        <div class="concept-description">
          <p>During this portion of the lesson i was introduced to debugging.I learned that it is a great skill to pocess as a programmer because it will help me find errors in my code and fix them.Overall debugging will help me as a programmer because it
            will make me have more knowledge on how the structure of code interacts as a whole by me reverse engineering the code which i made errors in. </p>
        </div>

      </div>

      <div class="concept">
        <div class="concept-title">Bugs Happen</div>
        <div class="concept-description">
          <p>During this portion of the lesson i learned the Bugs in code are perfectly normal. I learned that debugging is going to be the key to figuring out whats making my code bug out.</p>

        </div>

      </div>

      <div class="concept">
        <div class="concept-title">Checking My Code With Print</div>
        <div class="concept-description">
          <p>In this portion of the lesson i was introduced to print statements that check for problems with your code. For example i learned that certain print statements will make debugging a whole lot easier.</P>

        </div>

      </div>

      <div class="concept">
        <div class="concept-title">Error Messages Help</div>

        <div class="concept-description">
          <p>during this portion of the lesson i learned that error massages can help. I was shown that the error messages that appear when i write code that does't have correct syntax is a very important tool for debugging. The error messages usually have
            a error code which i can use on any search engine to further brainstom whats wrong with my code.</p>


        </div>

      </div>

      <div class="concept">
        <div class="concept-title">Example Code</div>
        <div class="concept-description">
          <p>During this portion of the lesson i was introduced to example code.I learned about how i could use it as a reference and make adjustments to it as i went along and see if that would make my code work. i learned that comment will be very usefull
            in reminding me what exactly is wrong with my code.</p>


        </div>

      </div>

    </div>

    <div class="lesson">
      <h2>Lesson 2.6</h2>

      <div class="concept">
        <div class="concept-title">Aliasing</div>
        <div class="concept-description">
          <p>In this portion of the lesson i was introduced to Aliasing in python. I was shown a couple of examples of how aliasing is used in programming. Aliasing is using different names for the same thing.
          </P>
        </div>
      </div>

      <div class="concept">
        <div class="concept-title">Mutation</div>
        <div class="concept-description">
          <p>Mutation is the changing of letters in a string to create another string. for example if i where to change the letter l for the string "lock" to an r it would create the string "rock". I was shown how to do this using the python language</p>
        </div>
      </div>


      <div class="concept">
        <div class="concept-title">Technological Empathy</div>
        <div class="concept-description">
          <p> In this portion of the lesson i was re-aquainted with the concept of technological empathy and was reminded of the importance of adapting this way of thinking to be a successful programmer</p>

        </div>
      </div>


      <div class="concept">
        <div class="concept-title">For Loops</div>
        <div class="concept-description">
          <p>
            In this portion of the lesson i went over for loops. I had an introduction on how to apply them in programming using python by doying a couple of exercises to help me get an understanding of how to work with them.</p>

        </div>
      </div>


      <div class="concept">
        <div class="concept-title">Lists</div>
        <div class="concept-description">
          <p>In this portion of the program i was introduced to Lists. I learned how to create a list as well as how to add two list's together as well as how to add more data to a list using the append command.</p>

        </div>
      </div>

    </div>


    <div class="lesson">
      <h2>Lesson 2.7</h2>

      <div class="concept">
        <div class="concept-title">Understanding A Problem</div>
        <div class="concept-description">
          <p> In this portion of the lesson i was introduced to the concept of understanding a computing problem. I was shown how there are inputs that have a range of desirable outputs(not uncommon to have an infinite number).</p>

        </div>
      </div>

      <div class="concept">
        <div class="concept-title">Inputs And Outputs</div>
        <div class="concept-description">
          <p>In this portion i got a crash course on what inputs and outputs are. Inputs is the data that you programm and the output is the end product of what the input is.</p>

        </div>
      </div>


      <div class="concept">
        <div class="concept-title">Pythonista's Guide To The Universe</div>
        <div class="concept-description">
          <p>In this portion i was introduce the the five steps that are in the pyhtonista's guide to the universe. Throughout this portion of the lesson i went over what the steops are to solving problems as advised.</p>


        </div>
      </div>


      <div class="concept">
        <div class="concept-title">Pseudocode</div>

        <div class="concept-description">
          <p>In this portion of the lesson i was introduced to what pseudocode is and the ways that i can apply pseudocode to be a better proggrammer</p>

        </div>
      </div>
		</div>


		{% endblock %}
